{% extends "master.twig" %}

{% block head %}

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="css/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="css/green.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="css/custom.min.css" rel="stylesheet">
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .split {
            display: inline-block;
        }
    </style>


{% endblock head %}

{% block title %} Pending Program Requests {% endblock title %}

{% block content %}

    {% set requestExample = requests|first %}
    <div class="clearfix"></div>

    <div class="row">
        {#<div class="col-md-12">#}
        <div class="x_panel2">
            <div class="x_title">
                <h2 style="width: auto; margin-right: 3%;">Pending Requests</h2>

                <form style="margin: 0; border-left: 1px solid #5F656A;" role="search" method="get" class="search-form" action="/programRequests">
                    <label style="display: inline-block;">
                        <span class="screen-reader-text">Search for:</span>
                        <input style="margin: 0;" type="search" class="search-field" placeholder="Search …" value="" name="keyword">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>

                <div class="clearfix"></div>
            </div>
            <div>
                <!-- start project list -->
                <table class="table table-striped projects">
                    <thead>
                    <tr>

                        <th>#</th>
                        <th>Member's Name</th>
                        <th>Date Submitted</th>
                        <th></th>
                        {#<th>Team Members</th>#}
                        {#<th>Project Progress</th>#}

                    </tr>
                    </thead>
                    <tbody>



                    {% for request in requests %}
                        <tr style="padding: 0;">
                            <td colspan="3" style="border: none; padding: 0;">
                                <div class="x_panel" style="padding: 0;">
                                    <div class="x_title" style="padding: 4px; border-bottom: none;">
                                        <div class="split" style="margin-right: 7%; width: 2%">
                                            {{ loop.index }}
                                        </div>

                                        <div class="split" style="margin-right: 4%; width: 5%">
                                            <ul class="list-inline">
                                                <li>
                                                    <a href="/editusers?keyword={{ request.userID }}">
                                                        <img src="images/{{ request.picture }}" class="avatar" alt="Avatar" value="{{ request.name }}">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="split" style="margin-right: 30%; width: 5%;">
                                            {{ request.name|capitalize }}
                                        </div>
                                        <div class="split">
                                            {{ request.date }}
                                        </div>




                                        <ul class="nav navbar-right panel_toolbox">
                                            <li>
                                                <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                                            </li>
                                            <li>
                                                <a class="close-link delete" value="{{ request.id }}">
                                                    <i class="fa fa-close"></i></a>

                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="x_content update" style="padding: 0; display: none;">

                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr style="border-top: none;">
                                                <td style="border-top: none;">
                                                    <div>
                                                        <p>Gender:
                                                        {% if request.gender == f %}
                                                            Female
                                                            {% else %}
                                                            Male
                                                        {% endif %}
                                                        </p>
                                                        <p>Height: {{ request.height }} cm</p>
                                                        <p>Weight: {{ request.weight }} Kg</p>
                                                        <p>Currently Exercising:
                                                            {% if request.currentlyExercising == 0 %}
                                                                No
                                                            {% else %}
                                                                Yes, Intensity: {{ request.currentExercisingIntensity }}
                                                            {% endif %}
                                                        </p>
                                                        <p>Activities: {{ request.activities }}</p>
                                                        <p style=" display: inline-block;">Days: </p>
                                                            <ul style="text-decoration: none; display: inline-block; vertical-align: top;">
                                                            {% if request.monday == 1 %}
                                                               <li>Monday</li>
                                                            {% endif %}
                                                            {% if request.tuesday == 1 %}
                                                               <li>Tuesday</li>
                                                            {% endif %}
                                                            {% if request.wednesday == 1 %}
                                                               <li>Wednesday</li>
                                                            {% endif %}
                                                            {% if request.thursday == 1 %}
                                                               <li>Thursday</li>
                                                            {% endif %}
                                                            {% if request.friday == 1 %}
                                                               <li>Friday</li>
                                                            {% endif %}
                                                            {% if request.saturday == 1 %}
                                                               <li>Saturday</li>
                                                            {% endif %}
                                                            {% if request.sunday == 1 %}
                                                               <li>Sunday</li>
                                                            {% endif %}
                                                            </ul>
                                                        <br>
                                                        <br>
                                                        <p>Comments: {{ request.comments }}</p>
                                                        <p>Goal (ordered by highest importance):
                                                            <ul>
                                                            {% for goal, priority in request.goals %}
                                                                <li>{{ goal }}</li>
                                                            {% endfor %}
                                                            </ul>

                                                        </p>
                                                    </div>
                                                </td>
                                                <td style="border-top: none;">
                                                    <textarea id="trainerComments" placeholder="Propose Program" rows="15" cols="50" maxlength="500"></textarea>
                                                    <p>
                                                        <button type="submit" id="submitProgram" value="{{ request.id }}" name="submitProgram"> Submit Program</button>
                                                    </p>
                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </td>
                        </tr>


                    {% endfor %}




                    </tbody>
                </table>
                <!-- end project list -->

            </div>
        </div>
    </div>
    </div>



    <script>
        jQuery(document).ready(function() {
            jQuery('.collapse-link').click(function() {
                toggle(this);
            });
        });

        function toggle($this) {
            var $BOX_PANEL = jQuery($this).closest('.x_panel'),
                    $ICON = jQuery($this).find('i'),
                    $BOX_CONTENT = $BOX_PANEL.find('.x_content');

//            console.log($ICON);
            if ($BOX_PANEL.attr('style')) {
                $BOX_CONTENT.slideToggle(200, function(){
                    $BOX_PANEL.removeAttr('style');

                    $ICON.toggleClass('fa-chevron-down');
                    $ICON.addClass('fa-chevron-up');
                });
            } else {
                $BOX_CONTENT.slideToggle(200);
                $BOX_PANEL.css('height', 'auto');
                $ICON.toggleClass('fa-chevron-up');
                $ICON.addClass('fa-chevron-down');
            }
            jQuery('.x_title').css('border-bottom', '2px solid');
        }


    </script>

    <script>
        jQuery('#submitProgram').click(function() {

            var $id = jQuery(this).attr('value');
            var $trainerComments = jQuery(this).parent().parent().children(':first-child').val();
            var $button = jQuery(this);
            if($trainerComments == ""){
                alert("You're proposing an empty program. Please write an appropriate program for the user");
            } else {
                jQuery.ajax(
                        {
                            type: 'POST',
                            url: '/trainerResponse',
                            data: {
                                id: $id,
                                trainerComments: $trainerComments

                            },
                            success: function (data) {
                                console.log(data);
                                var $returnedValue = jQuery.parseJSON(data);
                                console.log($returnedValue['success']);
                                if ($returnedValue['success'] == true) {
                                    $button.closest('.x_panel').remove();
                                }
                            }
                        }
                );
            }
        });

        jQuery('.delete').click(function() {
            var element = jQuery(this);
            if(confirm("Are you sure you want to permanently remove this program?")){

                console.log(jQuery(this).attr('value'));
                jQuery.ajax(
                        {
                            type: 'POST',
                            url: '/deleteProgramRequest',
                            data: {
                                id: jQuery(this).attr('value')
                            },
                            success: function (data) {
                                data = JSON.parse(data);
                                if(data['success']==true){
                                    element.closest('.x_panel').remove();
                                } else {
                                    alert("Could not delete program. \n Please contact support.")
                                }
                            }
                        }
                );
            }
        });

    </script>





    <!-- jQuery -->
    {#<script src="js/jquery.min.js"></script>#}
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="js/fastclick.js"></script>
    <!-- NProgress -->
    <script src="js/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script>jQuery.noConflict();</script>
    <script src="js/bootstrap-progressbar.js"></script>

    <!-- Custom Theme Scripts -->
    <script>jQuery.noConflict();</script>
    <script src="js/custom.min.js"></script>
{% endblock content %}

{% block info %}
    {#{{ include('info.twig') }}#}
{% endblock info %}

