{% extends "master.twig" %}

{% block head %}

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="css/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="css/green.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="css/custom.min.css" rel="stylesheet">
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .split {
            display: inline-block;
            /*width: 10%;*/
            margin: 0;
        }

        th {
            /*width: 15%;*/
            padding: 0;
        }

        p {
            font-weight: bold;
            font-size: large;
        }



    </style>

    <script src="js/bootstrap.js"></script>

{% endblock head %}

{% block title %} Edit Users {% endblock title %}

{% block content %}

    {% set classExample = classes|first %}

    {%  set admin = "Admin" %}
    {% set notAdmin = "Regular User" %}

    {#{{ dump(users.1.registrations) }}#}

    <div class="clearfix"></div>

    <div class="row">
        {#<div class="col-md-12">#}
        <div class="x_panel2">
            <div class="x_title">
                <h2 style="width: auto; margin-right: 3%;">Gym Users</h2>

                <button class="fa fa-plus add" style="margin-top: 1%; border-radius: 25px;"></button>

                <button class="fa fa-users add-multiple" style="margin-top: 1%; border-radius: 25px;"></button>

                <form style="margin: 0; border-left: 1px solid #5F656A;" role="search" method="get" class="search-form" action="/editusers">
                    <label style="display: inline-block;">
                        <span class="screen-reader-text">Search for:</span>
                        <input style="margin: 0;" type="search" class="search-field" placeholder="Search …" value="" name="keyword">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>

                <div class="clearfix"></div>
            </div>
            <div>

                {% if result['success'] is not null %}
                    {% if result['success'] == true %}
                        <h3 style="text-align: center; color: forestgreen;"> {{ result['message'] }} </h3>
                    {% else %}
                        <h3 style="text-align: center; color: tomato;"> {{ result['message'] }} </h3>
                    {% endif %}
                {% endif %}

                <table class="addUser">
                    <thead>
                    <tr>

                        <th>Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Picture</th>
                        <th>Is Admin</th>
                        <th>Birth Date</th>
                        <th>Gender</th>
                        <th>Membership Type</th>
                        <th>Active</th>

                    </tr>
                    </thead>
                    <tbody>
                    <form action="/add_user" method="post" enctype="multipart/form-data">
                        <tr>
                            <td>
                                <input type="text" style="width: 100%;" name="name" required>
                            </td>

                            <td>
                                <input type="email" style="width: 100%;" name="email" required>
                            </td>

                            <td>
                                <input type="password" style="width: 100%;" name="password" required>
                            </td>

                            <td>
                                <input type="file" style="width: 100%;" name="picture" required>
                            </td>

                            <td>
                                <select name="admin" style="width: 100%;" required>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </td>

                            <td>
                                <input type="date" style="width: 100%;" name="birthDate" required>
                            </td>

                            <td>
                                <select name="gender" style="width: 100%;" required>
                                    <option value="m">Male</option>
                                    <option value="f">Female</option>
                                </select>
                            </td>
                            <td>
                                <select name="membershipType" style="width: 100%;" required>
                                    <option value="1">Paid</option>
                                    <option value="0">Non-Paid</option>
                                </select>
                            </td>
                            <td>
                                <select name="active" style="width: 100%;" required>
                                    <option value="1">Active</option>
                                    <option value="0">Not Active</option>
                                </select>
                            </td>
                        </tr>


                        <tr colspan="8">
                            <td>
                                <button type="submit"> Add User </button>
                            </td>
                        </tr>
                    </form>


                    </tbody>
                </table>

                <div class="addUser-multiple">

                    <form action="/add_multiple_users" method="post" enctype='multipart/form-data'>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">File with users <span
                                        class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="btn btn-default btn-primary btn-file">
                                    <input type="file" name="users_file" id="users_file" onchange="$('#upload-file-info').html($(this).val());">

                                </label>
                                <span class='' id="upload-file-info"></span>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success" name="submit">Submit</button>
                            </div>
                        </div>

                    </form>

                </div>
                <!-- start project list -->
                <table class="table table-striped projects">
                    <thead>
                    <tr>

                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Classification</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for user in users %}
                        <tr style="padding: 0;">

                            <td colspan="6" style="border: none; padding: 0;">

                                <div class="x_panel" style="padding: 0;">

                                    <div class="x_title" style="padding: 4px; border-bottom: none;">
                                        <div class="split" style="width: 5%">
                                            {{ loop.index }}
                                        </div>

                                        <div class="split" style="width: 15%">
                                            <p>{{ user.name|capitalize }}</p>
                                        </div>

                                        <div class="split" style="width: 16%">
                                            <p>{{ user.email }}</p>
                                        </div>

                                        <div class="split" style="width: 25%">
                                            <p>{{ user.password }}</p>
                                        </div>

                                        <div class="split" style="width: 15%; vertical-align: middle;">
                                            {% if user.admin == 1 %}
                                                <p style="padding: 0; font-size: medium;">{{ "Administrator" }}</p>
                                            {% endif %}
                                            {% if user.student == 1  %}
                                                <p style="padding: 0; font-size: medium;">{{ "Student" }}</p>
                                            {% endif %}
                                            {% if user.faculty == 1  %}
                                                <p style="padding: 0; font-size: medium;">{{ "Faculty" }}</p>
                                            {% endif %}
                                            {% if user.staff == 1  %}
                                                <p style="padding: 0; font-size: medium;">{{ "Staff" }}</p>
                                            {% endif %}
                                            {% if user.alumni == 1  %}
                                                <p style="padding: 0; font-size: medium;">{{ "Alumni" }}</p>
                                            {% endif %}
                                            {% if user.external == 1  %}
                                                <p style="padding: 0; font-size: medium;">{{ "External Paying" }}</p>
                                            {% endif %}
                                            {% if user.nurse == 1  %}
                                                <p style="padding: 0; font-size: medium;">{{ "Nurse" }}</p>
                                            {% endif %}
                                        </div>


                                        <ul class="nav navbar-right panel_toolbox">
                                            <li>
                                                <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                                <ul class="dropdown-menu" role="menu">

                                                    <li>

                                                        <input type="hidden" id="edit" name="edit" value="{{ user.id }}">
                                                        <a href="#" class="edit" value="{{ user.id }}">Edit User</a>

                                                    </li>
                                                    <li>
                                                        <input type="hidden" name="hold" value="{{ class.id }}">
                                                        <a href="#" class="hold" value="{{ class.id }}" >Hold</a>
                                                    </li>

                                                    {#</form>#}
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="close-link delete" value="{{ user.id }}">
                                                    <i class="fa fa-close"></i></a>

                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="x_content update" style="padding: 0; display: none;">

                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Password</th>
                                                <th>Age</th>
                                                <th>Gender</th>
                                                <th>Registered Classes</th>
                                                <th>Membership Type</th>
                                                <th>Classification</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>

                                                <td>
                                                    {{ user.name|capitalize }}
                                                </td>
                                                <td>{{ user.email }}</td>
                                                <td>{{ user.password }}</td>
                                                <td>{{ user.birthDate }}</td>
                                                <td>{{ user.gender|capitalize }}</td>
                                                <td>
                                                    <div>
                                                        {% for registeredClass in user.classes %}
                                                            <p style="padding: 0; font-size: medium;"> {{ registeredClass.name|capitalize }}</p>
                                                        {% endfor %}
                                                    </div>
                                                </td>
                                                <td>
                                                    <ul>
                                                            {% if user.membershipType == 1 %}
                                                                <li>Paid</li>
                                                                {% else %}
                                                                <li>Non-Paid</li>
                                                            {% endif %}
                                                    </ul>
                                                </td>
                                                <td>
                                                    <div>
                                                        {% if user.admin == 1 %}
                                                            <p style="padding: 0; font-size: medium;">{{ "Administrator" }}</p>
                                                        {% endif %}
                                                        {% if user.student == 1  %}
                                                            <p style="padding: 0; font-size: medium;">{{ "Student" }}</p>
                                                        {% endif %}
                                                        {% if user.faculty == 1  %}
                                                            <p style="padding: 0; font-size: medium;">{{ "Faculty" }}</p>
                                                        {% endif %}
                                                        {% if user.staff == 1  %}
                                                            <p style="padding: 0; font-size: medium;">{{ "Staff" }}</p>
                                                        {% endif %}
                                                        {% if user.alumni == 1  %}
                                                            <p style="padding: 0; font-size: medium;">{{ "Alumni" }}</p>
                                                        {% endif %}
                                                        {% if user.external == 1  %}
                                                            <p style="padding: 0; font-size: medium;">{{ "External Paying" }}</p>
                                                        {% endif %}
                                                        {% if user.nurse == 1  %}
                                                            <p style="padding: 0; font-size: medium;">{{ "Nurse" }}</p>
                                                        {% endif %}
                                                    </div>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr style="display: none;" class="updateInfo">
                                                <form action="/updateUser" method="post">

                                                    <td>
                                                        <input style="width: 100%;" type="text" id="name" name="name" value="{{ user.name }}">
                                                    </td>

                                                    <td>
                                                        <input style="width: 100%;" type="email" id="email" name="email" value="{{ user.email }}">
                                                    </td>

                                                    <td>
                                                        <input style="width: 100%;" type="text" id="password" name="password" value="{{ user.password }}">
                                                    </td>

                                                    <td>
                                                        <input style="width: 100%;" type="date" id="birthDate" name="birthDate" value="{{ user.birthDate }}">
                                                    </td>

                                                    <td>
                                                        <select name="gender" id="gender" style="width: 100%;">
                                                        {% if user.gender == "f" %}

                                                        <option value="F" selected>F</option>
                                                            <option value="M">M</option>
                                                        {% else %}
                                                            <option value="F">F</option>
                                                        <option value="M" selected>M</option>
                                                        {% endif %}
                                                        </select>
                                                    </td>

                                                    <td>

                                                        <select name="" id="" multiple>
                                                            {% for class in classes %}
                                                                <option value="{{ class.classID }}"
                                                                {% for registeredClass in user.classes %}
                                                                    {% if class.classID == registeredClass.id %}
                                                                         selected
                                                                    {% endif %}
                                                                {% endfor %}
                                                                > {{ class.className }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>

                                                    <td>
                                                        <select name="classification[]" id="classification" style="width: 100%;" multiple>
                                                            {% if user.admin == 1 %}
                                                                <option value="administrator" selected>{{ "Administrator" }}</option>
                                                                {% else %}
                                                                <option value="administrator">{{ "Administrator" }}</option>
                                                            {% endif %}
                                                            {% if user.student == 1 %}
                                                                <option value="student" selected>{{ "Student" }}</option>
                                                                {% else %}
                                                                <option value="student">{{ "Student" }}</option>
                                                            {% endif %}
                                                            {% if user.faculty == 1 %}
                                                                <option value="faculty" selected>{{ "Faculty" }}</option>
                                                                {% else %}
                                                                <option value="faculty">{{ "Faculty" }}</option>
                                                            {% endif %}
                                                            {% if user.staff == 1 %}
                                                                <option value="staff" selected>{{ "Staff" }}</option>
                                                                {% else %}
                                                                <option value="staff">{{ "Staff" }}</option>
                                                            {% endif %}
                                                            {% if user.alumni == 1 %}
                                                                <option value="alumni" selected>{{ "Alumni" }}</option>
                                                            {% else %}
                                                                <option value="alumni">{{ "Alumni" }}</option>
                                                            {% endif %}
                                                            {% if user.external == 1 %}
                                                                <option value="external" selected>{{ "External Paying" }}</option>
                                                                {% else %}
                                                                <option value="external">{{ "External Paying" }}</option>
                                                            {% endif %}
                                                            {% if user.nurse == 1 %}
                                                                <option value="nurse" selected>{{ "Nurse" }}</option>
                                                                {% else %}
                                                                <option value="nurse">{{ "Nurse" }}</option>
                                                            {% endif %}
                                                        </select>

                                                    </td>

                                                    <td>
                                                        <input style="width: 100%;" type="hidden" name="id" value="{{ user.id }}">

                                                        {#remove unnecessary attributes#}
                                                        <button type="submit" value="{{ user.id }}">Update</button>
                                                    </td>


                                                </form>

                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </td>
                        </tr>

                    {% endfor %}




                    </tbody>
                </table>
                <!-- end project list -->

            </div>
        </div>
    </div>
    </div>



    <script>
        jQuery(document).ready(function() {

            jQuery('.collapse-link').click(function() {
                toggle(this);

            })  ;


            jQuery('.close-link').click(function () {
                var $BOX_PANEL = jQuery(this).closest('.x_panel');
            });






        });
        jQuery('.addUser').toggle();
        jQuery('.add').click(function() {

            jQuery('.addUser').toggle();

        });

        jQuery('.addUser-multiple').toggle();
        jQuery('.add-multiple').click(function() {

            jQuery('.addUser-multiple').toggle();

        });

        jQuery('.edit').click(function() {

            toggleOnce(this);
            jQuery(this).toggleClass('fa-chevron-down');
            jQuery(this).find('i').toggleClass('fa-chevron-up');
            jQuery('.updateInfo').toggle();

        });

        jQuery('.delete').click(function() {


            if (confirm("Are you sure you want to delete this user?")) {


                jQuery(this).closest('.x_panel').remove();

                jQuery.ajax(
                        {
                            type: 'POST',
                            url: '/deleteuser',
                            data: {
                                id: jQuery(this).attr('value')
                            },
                            success: function (msg) {
                                console.log("SUCCESS AJAX!");

                            }
                        }
                );
            }

        });

        function toggle($this) {

            var $BOX_PANEL = jQuery($this).closest('.x_panel'),
                    $ICON = jQuery($this).find('i'),
                    $BOX_CONTENT = $BOX_PANEL.find('.x_content');

//            console.log($ICON);
            if ($BOX_PANEL.attr('style')) {
                $BOX_CONTENT.slideToggle(200, function(){
                    $BOX_PANEL.removeAttr('style');

                    $ICON.toggleClass('fa-chevron-down');
                    $ICON.addClass('fa-chevron-up');
                });
            } else {
                $BOX_CONTENT.slideToggle(200);
                $BOX_PANEL.css('height', 'auto');
                $ICON.toggleClass('fa-chevron-up');
                $ICON.addClass('fa-chevron-down');
            }

            jQuery('.x_title').css('border-bottom', '2px solid');

        }

        function toggleOnce($this) {

            var $BOX_PANEL = jQuery($this).closest('.x_panel'),
//                    $ICON = jQuery($this).parent().parent().parent().first().find('i'),
                    $ICON = jQuery($this).closest('.collapse-link'),
                    $BOX_CONTENT = $BOX_PANEL.find('.x_content');

            if ($BOX_PANEL.attr('style')) {
                $BOX_CONTENT.slideToggle(200, function(){
                    $BOX_PANEL.removeAttr('style');


                    console.log($ICON);
                    $ICON.toggleClass('fa-chevron-down');
                    console.log($ICON);
                    $ICON.addClass('fa-chevron-up');
                    console.log($ICON);
                });
            }

            $ICON.toggleClass('fa-chevron-down');
            $ICON.toggleClass('fa-chevron-up');

        }

        function toggleUpdate($this) {

            var $B = jQuery($this).closest('.x_content').closest('.x_content');
            console.log($B);

        }


    </script>

    <script>
        jQuery('.edit').click(function() {

            var $id = jQuery(this).attr('value');

            jQuery(this).closest('.x_content').css('display','block');
            jQuery(this).closest('.x_content').css('style','');

        });

    </script>


    <!-- jQuery -->
    {#<script src="js/jquery.min.js"></script>#}
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="js/fastclick.js"></script>
    <!-- NProgress -->
    <script src="js/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script>jQuery.noConflict();</script>
    <script src="js/bootstrap-progressbar.js"></script>

    <!-- Custom Theme Scripts -->
    <script>jQuery.noConflict();</script>
    <script src="js/custom.min.js"></script>

{% endblock content %}

{% block info %}
{% endblock info %}

