{% extends "master.twig" %}


{% block head %}

    <script type="text/javascript" src="js/fullcalendar/jquery-1.8.3.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/normalize.css">

    <link rel="stylesheet" type="text/css" href="/css/result-light.css">

    <script type="text/javascript" src="js/fullcalendar/jquery.qtip.js"></script>

    <link rel="stylesheet" type="text/css" href="js/fullcalendar/jquery.qtip.css">

    <link rel="stylesheet" type="text/css" href="js/fullcalendar/jquery.fullcalendar.css">

    <script type="text/javascript" src="js/fullcalendar/jquery.fullcalendar.min.js"></script>

    <script type="text/javascript" src="js/fullcalendar/jquery-ui.min.js"></script>

    <style type="text/css">
        body{
            padding: 50px;
        }

    </style>

    <script type="text/javascript">//<![CDATA[
        $(window).load(function(){
// Setup FullCalendar
            (function() {
                var date = new Date();
                var d = date.getDate();
                var m = date.getMonth();
                var y = date.getFullYear();

                var tooltip = $('<div/>').qtip({
                    id: 'fullcalendar',
                    prerender: true,
                    content: {
                        text: ' ',
                        title: {
                            button: true
                        }
                    },
                    position: {
                        my: 'bottom center',
                        at: 'top center',
                        target: 'mouse',
                        viewport: $('#fullcalendar'),
                        adjust: {
                            mouse: false,
                            scroll: false
                        }
                    },
                    show: false,
                    hide: false,
                    style: 'qtip-light'
                }).qtip('api');

                $('#fullcalendar').fullCalendar({
//                    editable: true,
                    height: 600,
                    buttons: false,
                    header: false,
                    minTime: "06:00:00",
                    maxTime: "24:00:00",

                    eventClick: function(data, event, view) {
                        var content = '<h3>'+data.title+'       </h3>' +
                                '<p><b>Start:</b> '+data.startTime+' /24hr<br />' +
                                '<p><b>End:</b> '+data.endTime+' /24hr<br/></p>'+
                                '<p><b>Location:</b> '+data.location+'<br /></p>' +
                                '<p><b>Instructor:</b> '+data.instructorName +'<br /></p>' ;

                        tooltip.set({
                            'content.text': content
                        })
                                .reposition(event).show(event);
                    },
                    dayClick: function() { tooltip.hide() },
                    eventResizeStart: function() { tooltip.hide() },
                    eventDragStart: function() { tooltip.hide() },
                    viewDisplay: function() { tooltip.hide() },
                });

                //looping through all the classes offered
                {% for class in classes %}
                //looping through all the days the class is offered to create the event for that specific day
                    {% for key, value in class.days %}
                $('#fullcalendar').fullCalendar( 'addEventSource',
                        function(start, end, callback) {
                            // When requested, dynamically generate a
                            // repeatable event for every monday.
                            var events = [];
//                            var monday = 1;
                            var one_day = (24 * 60 * 60 * 1000);

                            for (loop = start.getTime();
                                 loop <= end.getTime();
                                 loop = loop + one_day) {

                                var column_date = new Date(loop);

                                //get the current day (value) in the calendar
                                if (column_date.getDay() == {{ value }}) {
                                    // example: we're in Monday, create the event
                                    var startTime = "{{ class.startTime }}";
                                    var endTime = "{{ class.endTime }}";
                                    var parseStartTime = startTime.split(":");
                                    var parseEndTime = endTime.split(":");
                                    console.log(parseStartTime[0]);
                                    //create the event for that day
                                    events.push({
                                        title: '{{ class.className|capitalize }}',
                                        start: new Date(column_date.setHours(parseStartTime[0], parseStartTime[1])),
                                        end: new Date(column_date.setHours(parseEndTime[0], parseEndTime[1])),
                                        allDay: false,
                                        location: "{{ class.location }}",
                                        startTime: "{{ class.startTime }}",
                                        endTime: "{{ class.endTime }}",
                                        instructorName: "{{ class.instructorName|capitalize}}"
                                    });
                                }
                            }
                            callback( events );
                        }
                );
                    {% endfor %}
                {% endfor %}
                $('#fullcalendar').fullCalendar('changeView', 'agendaWeek');

            }());
        });
    </script>

{% endblock head %}

{% block title %} Fitness Program {% endblock title %}

{% block content %}

    <div id="fullcalendar"></div>

{% endblock content %}




