
{% extends "master.twig" %}


{% block title %} Home {% endblock title %}

{% block body %}



    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvpJ6J-cjmh68XUAW96uBK_8HAkktyx0w&callback=initMap">
    </script>
    {# Block 1 full width with button #}
    {{ include('full_width_block_button.twig') }}

    {# Block 2 full width without button #}
    {{ include('full_width_block.twig') }}

    {#{{ include('body.twig') }}#}
                    {#<div class="projects-section">#}

                    {#</div>#}

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">


        {# feature block #}
        {% set feature_title = 'Header' %}
        {% set feature_description = 'Description' %}
        {{ include('featured.twig') }}
        
        <div class="container">

            {# Image Right block #}

            {% set right_header = 'Header' %}
            {% set right_description = 'Description' %}
            {{ include('img_right_block.twig') }}

            {# Image left block #}
            {% set left_header = 'Header' %}
            {% set left_description = 'Description' %}
            {{ include('img_left_block.twig') }}



        </div>
    </section>

        {# subscribtion block #}
        {{ include('subscribe.twig') }}


    {% set contact_address = contactInfo.0.address %}
    {% set contact_email = contactInfo.0.email %}
    {% set contact_phone = contactInfo.0.phone %}



    {# Contact Block #}
    {{ include('contact.twig') }}


{% endblock body %}






