{% extends "master.twig" %}

{% block title %} Home {% endblock title %}

{% block body %}

    {# Block 1 full width with button #}
    {{ include('full_width_block_button.twig') }}

    {# Block 2 full width without button #}
    {{ include('full_width_block.twig') }}

    {#{{ include('body.twig') }}#}

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">

        <div class="container">
            {# feature block #}
            {% set feature_title = 'Header' %}
            {% set feature_description = 'Description' %}
            {{ include('featured.twig') }}

            {# Image Right block #}

            {% set right_header = 'Header' %}
            {% set right_description = 'Description' %}
            {{ include('img_right_block.twig') }}

            {# Image left block #}
            {% set left_header = 'Header' %}
            {% set left_description = 'Description' %}
            {{ include('img_left_block.twig') }}



        </div>
    </section>

        {# subscribtion block #}
        {{ include('subscribe.twig') }}


        {# Contact Block #}
        {{ include('contact.twig') }}



{% endblock body %}






