<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#" itemscope="itemscope" itemtype="http://schema.org/WebPage" class="">

<head>

    {{ include('head.twig') }}

    {% block head %}
    {% endblock %}



</head>


<body id="page-top">
        {# Nav Bar #}
        {{ include('nav.twig') }}

        {# Block 1 full width with button #}
        {{ include('full_width_block_button.twig') }}

        {# Block 2 full width without button #}
        {{ include('full_width_block.twig') }}

        {{ include('body.twig') }}
{#
<div >
        {% block content %}
        {% endblock content %}
    </div>


    {% block info %}
    {% endblock info %}


{% block footer %}
{% endblock %}

#}



</body>
</html>