{% extends "master.twig" %}


{% block head %}
    <!-- Bootstrap -->
    {#<link href="css/bootstrap.css" rel="stylesheet">#}
    <!-- Font Awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="css/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="css/green.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="css/custom.min.css" rel="stylesheet">
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .split {
            display: inline-block;
        }
    </style>

    <script src="js/bootstrap.js"></script>

{% endblock head %}

    {% block title %} Personal Gym Stats{% endblock title %}


{% block content %}
    <div style="display: inline-block; margin-right: 10%; ">
        {#<h1 style=" font-weight: normal; color: lightcoral; display: inline-block;">Average Time Spent at The Gym Per Visit:  </h1>#}
        <h1 style=" font-weight: normal; color: lightcoral;">Average Time Spent at The Gym Per Visit:</h1>
        {#<div class="split" style="width: 25%; margin: 0; display: inline-block; vertical-align: bottom;">#}
        <div class="split" style="width: 40%; margin: 0;">
            <div class="project_progress">
                <div style="border: 0.5px solid #1ABB9C;">
                    <div class="progress progress_sm" style="margin: 0;">
                        <div class="progress-bar bg-green" role="progressbar"
                             aria-valuemin="{{ visitAnalysis.min.hours }}" aria-valuemax="{{ visitAnalysis.max.hours }}"
                             data-transitiongoal="{{ visitAnalysis.avg.hours }}">

                        </div>
                    </div>
                </div>
            </div>

            <p style="font-size: larger;">
                {{ visitAnalysis.avg.hours|round }} {{ " Hours, " }}
                {{ visitAnalysis.avg.mins|round }} {{ " Minutes, and " }}
                {{ visitAnalysis.avg.secs|round }} {{ " Seconds. " }}
            </p>
        </div>

        <div>
        <small>
            {{ "Max:" }}
            {{ visitAnalysis.max.hours|round }} {{ " Hours, " }}
            {{ visitAnalysis.max.mins|round }} {{ " Minutes, and " }}
            {{ visitAnalysis.max.secs|round }} {{ " Seconds. " }}
        </small>
        <br>
        <small>
            {{ "Min:" }}
            {{ visitAnalysis.min.hours|round }} {{ " Hours, " }}
            {{ visitAnalysis.min.mins|round }} {{ " Minutes, and " }}
            {{ visitAnalysis.min.secs|round }} {{ " Seconds. " }}
        </small>
    </div>


        {#<h1 style=" font-weight: normal; color: lightcoral; display: inline-block;">Average Time Spent at The Gym Per Visit:  </h1>#}
        <h1 style=" font-weight: normal; color: lightcoral;">Average Gym Visits Per Month:</h1>
        {#<div class="split" style="width: 25%; margin: 0; display: inline-block; vertical-align: bottom;">#}
        <div class="split" style="width: 40%; margin: 0;">
        <div class="project_progress">
            <div style="border: 0.5px solid #1ABB9C;">
                <div class="progress progress_sm" style="margin: 0;">
                    <div class="progress-bar bg-green" role="progressbar"
                         aria-valuemin="{{ monthVisitationAnalysis.min }}" aria-valuemax="{{ monthVisitationAnalysis.max }}"
                         data-transitiongoal="{{ monthVisitationAnalysis.avg }}">

                    </div>
                </div>
            </div>
        </div>

        <p style="font-size: larger;">
            {{ monthVisitationAnalysis.avg|round }} {{ " Visits/Month " }}
        </p>
    </div>

        <div>
        <small>
            {{ "Max:" }}
            {{ monthVisitationAnalysis.max|round }} {{ "  Visits/Month " }}
        </small>
        <br>
        <small>
            {{ "Min:" }}
            {{ monthVisitationAnalysis.min|round }} {{ "  Visits/Month " }}

        </small>
    </div>

    </div>
    {#
            User's Monthly Stast
            #}
    <div style="width: 50%; height: 50%; color: white; display: inline-block; vertical-align: top;">
        {#<h2 style="color: lightcoral; opacity: 0.8; font-size: large; font-weight: bold;">Your Monthly Visitation Statistics</h2>#}
        <h1 style=" font-weight: normal; color: lightcoral;">Your Monthly Visitation Statistics:</h1>
        <canvas id="mybarChart">
        </canvas>
    </div>



    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="js/fastclick.js"></script>
    <!-- NProgress -->
    <script src="js/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="js/bootstrap-progressbar.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="js/custom.min.js"></script>


    <!-- jQuery -->
    {#<script src="js/jquery.min.js"></script>#}
    <script src="js/jquery.js"></script>
    <!-- Chart.js -->
    <script src="js/Chart.min.js"></script>


    <script>
        Chart.defaults.global.legend = {
            enabled: false
        };
        var ctx = document.getElementById("mybarChart");
        var mybarChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                    //get the months to act as labels for the chart. they are the keys of the array.
                    {% for key,value in graphValues %}
                    {% if loop.last %}
                    "{{ key }}"
                    {% else %}
                    "{{ key }}",
                    {% endif %}
                    {% endfor %}
                ],
                datasets: [{
                    label: '# of Visits',
                    backgroundColor: "#26B99A",
                    data: [
                        //get the number of visits to act as the dataset for the chart. they are the values of the array.
                        {% for key,value in graphValues %}
                        {% if loop.last %}
                        {{ value }}
                        {% else %}
                        {{ value }},
                        {% endif %}
                        {% endfor %}
                    ]
                }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            fontColor:  'white'
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontColor:  'white'
                        }
                    }]
                }
            }
        });
    </script>

{% endblock content %}

{% block info %}
{% endblock info %}




